.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 12px;
    height: 60px;
    width: 100%;
    background-color: white;
    font-size: 4px;
  }
  .footer__left {
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
    flex: 0.3;
    font-size: 12px;
    font-weight: bolder 2px;
  }